.phonicscore_practicebird_deeplink__render-block{
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
    text-align: center;
}

.phonicscore_practicebird_deeplink__render-block > *{
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
}