/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-phonicscore-opensheetmusicdisplay {
	border: 1px dotted #f00;
	min-height: 100px;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
